<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.3.0/dist/flickity.min.css">

</head>
<body>
  <!-- navbar -->
  <div class="topnav" id="myTopnav">
    <a href="{{url_for('index')}}" class="active"><img src="../static/img/pb_logo_black.png" style="height: 0.7em;"></a>
    <a href="{{url_for('mens')}}">Men</a>
    <a href="#">Women</a>
    <a href="#">Kids</a>
    <a href="#">Contact</a>
    <div class="right-lnk">
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <br>
    {%block content%} {%endblock%}
 </body>
 </html>
