{%extends 'base.htm'%} {%block content%}

  <!-- navbar -->
  <br>
  <!-- carousel -->
  <div class="carousel" data-flickity='{ "hash": true, "prevNextButtons": false, "wrapAround": true}'>
    <div class="hero-img" id="carousel-cell1"><img src="../static/img/hero.png" alt=""></div>
    <div class="hero-img" id="carousel-cell2"><img src="../static/img/shoe1.png" alt=""></div>
    <div class="hero-img" id="carousel-cell3"><img src="../static/img/shoe2.png" alt=""></div>
  </div>
  <br>
  <!-- bottom-text -->
    <p class="center-text">Move to zero is pace's journey towards zero carbon and zero waste to help protect the future of sport. Follow each step in our journey and discover new ways we can move to zero together.</p>
    <p class="center-text-s">Learn More &nbsp;<span>
      <a href="#"><svg style="height: 1em;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 500 500" xml:space="preserve">
      <desc>Created with Fabric.js 4.6.0</desc>
      <defs>
      </defs>
      <g transform="matrix(5.27 0 0 5.27 246.65 252.97)" id="LY54fv20B9ZcuB3ejW-T-"  >
      <path style="stroke: rgb(130,149,75); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,255,185); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M 0 -47.25898 C 26.08696 -47.25898 47.25898 -26.08696 47.25898 0 C 47.25898 26.08696 26.08696 47.25898 0 47.25898 C -26.08696 47.25898 -47.25898 26.08696 -47.25898 0 C -47.25898 -26.08696 -26.08696 -47.25898 0 -47.25898 z" stroke-linecap="round" />
      </g>
      <g transform="matrix(2.66 0 0 0.11 250 250)" id="dV2O_CRV8IfS87Cxy3bQW"  >
      <path style="stroke: rgb(0,0,0); stroke-width: 0.2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M -47.25898 -47.25898 L 47.25898 -47.25898 L 47.25898 47.25898 L -47.25898 47.25898 z" stroke-linecap="round" />
      </g>
      <g transform="matrix(0.69 0.69 -0.08 0.08 344.18 217.64)" id="Tt4RIBtFlHnIezeE0Pkc-"  >
      <path style="stroke: rgb(0,0,0); stroke-width: 0.2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M -47.25898 -47.25898 L 47.25898 -47.25898 L 47.25898 47.25898 L -47.25898 47.25898 z" stroke-linecap="round" />
      </g>
      <g transform="matrix(0.92 0 0 0.89 378.48 250.84)" id="5uQM15ou_3v6Gjy6adpGW"  >
      <path style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M 0 -7.70416 C 4.2527 -7.70416 7.70416 -4.2527 7.70416 0 C 7.70416 4.2527 4.2527 7.70416 0 7.70416 C -4.2527 7.70416 -7.70416 4.2527 -7.70416 0 C -7.70416 -4.2527 -4.2527 -7.70416 0 -7.70416 z" stroke-linecap="round" />
      </g>
      </svg></a>
    </span></p>
    <div>
  <!-- block-1 -->
  <p class="left-title-thin">LATEST BY US</p>
  <p class="left-title">New Arrivals</p>
  <div class="grid-container" style="margin-left: 15%; margin-right: 15%;">
    <div class="grid-item c1">
      Air Jordan Retro High
      <p class="grid-text-secondary">Best for Golf</p><br><br>
      <img src="../static/nobg1.png" class="grid-img">
      <div style="margin: 10%;">
        <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
        <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
      </div>
    </div>
    <div class="grid-item c2">
      Air Jordan Zoom
      <p class="grid-text-secondary">Best for Basketball</p><br><br>
      <img src="../static/nobg2.png" class="grid-img">
      <div style="margin: 10%;">
        <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
        <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
      </div>
    </div>
    <div class="grid-item c3">
      Air Jordan Mid
      <p class="grid-text-secondary">Best for Skatebording</p><br><br>
      <img src="../static/nobg3.png" class="grid-img">
      <div style="margin: 10%;">
        <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
        <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
      </div>
    </div>
  </div><br><br>
  <!-- block-2 -->
  <p class="left-title-thin">RECOMMENDED</p>
  <p class="left-title">Top Picks</p>
  <div class="grid-container" style="margin-left: 15%; margin-right: 15%;">
    <div class="grid-item c1">
      Air Jordan Retro High
      <p class="grid-text-secondary">Best for Golf</p><br><br>
      <img src="../static/nobg1.png" class="grid-img">
      <div style="margin: 10%;">
        <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
        <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
      </div>
    </div>
    <div class="grid-item c2">
      Air Jordan Zoom
      <p class="grid-text-secondary">Best for Basketball</p><br><br>
      <img src="../static/nobg2.png" class="grid-img">
      <div style="margin: 10%;">
        <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
        <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
      </div>
    </div>
    <div class="grid-item c3">
      Air Jordan Mid
      <p class="grid-text-secondary">Best for Skatebording</p><br><br>
      <img src="../static/nobg3.png" class="grid-img">
      <div style="margin: 10%;">
        <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
        <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
      </div>
    </div>
  </div>
  
  <!-- scripts -->
  <script src="../static/js/script.js"></script>
  <script src="https://unpkg.com/flickity-hash@2/hash.js"></script>
  <script src="https://unpkg.com/flickity@2.3.0/dist/flickity.pkgd.min.js"></script>

  {%endblock%}