{%extends 'base.htm'%} {%block content%}
  <!-- navbar -->
<span class="brsmall">&nbsp;</span>
  <!-- banner -->
  <div class="banner">
    <img src="/static/img/mens_section.png">
  </div>
  <!-- columns -->
  <div class="row">
    <div class="column left">
      <h3>ALL</h3><br>
      <h3>POPULAR</h3><br>
      <h3>COLLECTION</h3>
      <ul>
        <a class="valid" href="#"><li>Air Max</li></a>
        <a class="valid" href="#"><li>Jordans</li></a>
        <li class="invalid">Joyride</li>
        <li class="invalid">Flyease</li>
      </ul>
      <hr><br>
      <h3>FOOT SIZE</h3>
      <ul>
        <li class="invalid">12</li>
        <li class="invalid">11</li>
        <li class="invalid">10</li>
        <li class="invalid">9</li>
      </ul>
      <hr><br>
      <h3>CATEGORY</h3>
      <ul>
        <li class="invalid">Basketball</li>
        <li class="invalid">Running</li>
        <li class="invalid">Football</li>
        <li class="invalid">Golf</li>
      </ul>
      <hr><br>
      <h3>SORT</h3>
      <ul>
        <li class="invalid">Price: Low to High</li>
        <li class="invalid">Price: High to Low</li>
        <li class="invalid">Popularity: High to Low</li>
        <li class="invalid">Rating: High to Low</li>
      </ul>
      <hr><br>
    </div>


    <div>
      <div class="column right">
        <div class="sign-up mgb-medium">
          <div class="row justify-content-center ">
            <br>

            <form method="POST" enctype="multipart/form-data" class="form">
              <h1 class="heading-2">Find the SHOE you want!</h1>
              <br>
              {{form.hidden_tag()}}
              <div class = "input-wrapper">
                <label class="form__label" for="inline-full-name">
                  Describe your Shoe
                </label>
                {{form.adjectives(class="form__search-input", placeholder="eg: 12,red..>")}}
              </div>


              <div>
                {{form.submit(class ="form__btn", value="Create")}}
              </div>
            </form>
          </div>
        </div>
        <div class=" grid-container" style="width: 50%;">
          {%for i in nums%}
            <div class="grid-item">
              <p class="grid-text-secondary">{{rame}}</p><br><br>
              <img src="{{url_for('static',filename=da_list[i].location)}}" class="grid-img">
              <div style="margin: 10%;">
                <a href="{{url_for('add', design_id=da_list[i].id,adjectives_=adjectives,where='mens',name_=name_)}}"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
              </div>
            </div>
            {%endfor%}
        </div>
        </div>
    </div>
    {%endblock%}
