{%extends 'base.htm'%} {%block content%}
  <!-- navbar -->
<span class="brsmall">&nbsp;</span>
  <!-- banner -->
  <div class="banner">
    <img src="../static/img/mens_section.png">
  </div>
  <!-- columns -->
  <div class="row">
    <div class="column left">
      <h3>ALL</h3><br>
      <h3>POPULAR</h3><br>
      <h3>COLLECTION</h3>
      <ul>
        <a class="valid" href="#"><li>Lorem Ipsum</li></a>
        <a class="valid" href="#"><li>Lorem Ipsum</li></a>
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
      </ul>
      <hr><br>
      <h3>FOOT SIZE</h3>
      <ul>        
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
      </ul>
      <hr><br>
      <h3>CATEGORY</h3>
      <ul>        
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
      </ul>
      <hr><br>
      <h3>SORT</h3>
      <ul>        
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
        <li class="invalid">Lorem Ipsum</li>
      </ul>
      <hr><br>
    </div>
    <div class="column right">
                <div class="grid-container">
                  <div class="grid-item c1">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                  <div class="grid-item c2">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                  <div class="grid-item c3">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                </div>
                <div class="grid-container">
                  <div class="grid-item c1">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                  <div class="grid-item c2">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                  <div class="grid-item c3">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                </div>
                <div class="grid-container">
                  <div class="grid-item c1">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                  <div class="grid-item c2">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                  <div class="grid-item c3">
                    Wind Rider X980
                    <p class="grid-text-secondary">LOREM IPSUM DOLOR SIT AMET</p><br><br>
                    <img src="../static/img/nobg.png" class="grid-img">
                    <div style="margin: 10%;">
                      <a href="cart.html"><img src="https://img.icons8.com/material-outlined/96/737373/shopping-cart--v1.png" class="small-btn-l"></a>
                      <a href="wishlist.html"><img src="https://img.icons8.com/material-outlined/96/737373/like--v1.png" class="small-btn"></a>
                    </div>
                  </div>
                </div>
    </div>
  </div>
  <!-- scripts -->
  <script src="../static/js/script.js"></script>
  {%endblock%}