{%extends 'base.htm'%} {%block content%}
<!-- back-btn -->
<div>
<p><span>
    <a href="#"><svg style="height: 1em;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 500 500" xml:space="preserve">
    <desc>Created with Fabric.js 4.6.0</desc>
    <defs>
    </defs>
    <g transform="matrix(5.27 0 0 5.27 250.27 250)" id="LY54fv20B9ZcuB3ejW-T-"  >
        <path style="stroke: rgb(130,149,75); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,255,185); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M 0 -47.25898 C 26.08696 -47.25898 47.25898 -26.08696 47.25898 0 C 47.25898 26.08696 26.08696 47.25898 0 47.25898 C -26.08696 47.25898 -47.25898 26.08696 -47.25898 0 C -47.25898 -26.08696 -26.08696 -47.25898 0 -47.25898 z" stroke-linecap="round" />
        </g>
        <g transform="matrix(-2.66 0 0 0.11 257.26 250)" id="dV2O_CRV8IfS87Cxy3bQW"  >
        <path style="stroke: rgb(0,0,0); stroke-width: 5; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M -47.25898 -47.25898 L 47.25898 -47.25898 L 47.25898 47.25898 L -47.25898 47.25898 z" stroke-linecap="round" />
        </g>
        <g transform="matrix(-0.69 0.69 0.08 0.08 163.08 217.64)" id="Tt4RIBtFlHnIezeE0Pkc-"  >
        <path style="stroke: rgb(0,0,0); stroke-width: 5; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M -47.25898 -47.25898 L 47.25898 -47.25898 L 47.25898 47.25898 L -47.25898 47.25898 z" stroke-linecap="round" />
        </g>
        <g transform="matrix(-0.92 0 0 0.89 128.78 250.84)" id="5uQM15ou_3v6Gjy6adpGW"  >
        <path style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(0, 0)" d="M 0 -7.70416 C 4.2527 -7.70416 7.70416 -4.2527 7.70416 0 C 7.70416 4.2527 4.2527 7.70416 0 7.70416 C -4.2527 7.70416 -7.70416 4.2527 -7.70416 0 C -7.70416 -4.2527 -4.2527 -7.70416 0 -7.70416 z" stroke-linecap="round" />
        </g>
    </svg></a></span>Back</p>
</div>
{%endblock%}